main{
  width: 100%;
  background-color: var(--color-primary);

  .container{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;

    section.home{
      width: 100%;

      header{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 3rem 1rem ;

        .info{
          p{
            color: var(--white);
            margin: 0;
          }

          h1{
            color: var(--white);
            margin: 0;
          }
        }

        p-button{
          margin-left: auto;
        }
      }
    }
  }
}
