<main>
  <div class="container">
    <section class="home">
      <header>
        <div class="info">
          <p class="f-16"> 1 </p>
          <h1 class="f-12"> Total de Projetos </h1>
        </div>
        <div class="info">
          <p class="f-16"> 1 </p>
          <h1 class="f-12"> Em andamento </h1>
        </div>
        <div class="info">
          <p class="f-16"> 1 </p>
          <h1 class="f-12"> Encerrados </h1>
        </div>

        <p-button
          label="Novo Projeto"
          icon="pi pi-check" />
      </header>
    </section>
  </div>
</main>
